<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imaec.mypay">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_thumb"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_thumb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.view.activity.SplashActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.view.activity.InputActivity"/>

        <receiver android:name=".AlertReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ALARM"/>
            </intent-filter>
        </receiver>

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7147836151485354~1207660065"/>
    </application>

</manifest>